<% include partials/head.html %>
    <article>
        <h1><a href="/fibonacci">Secuencia Fibonacci en JavaScript</a></h1>
        <img src="img/articleImg/fibonacciSequence/principal.png" alt="image">
        <p>La secuencia Fibonacci es una secuencia de números. Funciona de esta manera:</p>
        <p>“Se parte de dos números iniciales, el 0 y el 1. Para sacar el número siguiente a estos dos debemos de sumar los
        dos últimos números (0 + 1). Tendremos como resultado el número 1, y quedaríamos con una lista de números tal
        que así ‘0, 1, 1’. Ahora, para sacar el número siguiente seguiremos los mismos pasos. Sumaremos los dos últimos
        números de la lista (1 + 1), y tendremos como resultado el número 2. Nuestra lista quedaría conformada por los
        números ‘0, 1, 1, 2’. Este proceso se repite las veces que sea necesario”.</p>
    </article>
<% include partials/foot.html %>
            
        